html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 200px;
}
@media screen and (max-width:900px) { 
  .swiper {
    width : 150px;
  }
}
@media screen and (max-width:400px) { 
  .swiper {
    width : 100px;
  }
}

.Portfolio {
  width: 450px;
}
@media screen and (max-width:900px) { 
  .Portfolio {
    width : 400px;
  }
}
@media screen and (max-width:768px) { 
  .Portfolio {
    width : 280px;
  }
}
@media screen and (max-width:400px) { 
  .Portfolio {
    width : 200px;
  }
}
@media screen and (max-width:360px) { 
  .Portfolio {
    width : 180px;
  }
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
  width: 100%;
  border-radius : 16px;
}